$theme: #097125;
$border: 2px solid $theme;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wap-console-wrap {
    position: fixed;
    z-index: 9999;
    padding: 2vw;
    top: 2vw;
    left: 2vw;
    right: 2vw;
    bottom: 2vw;
    background: rgba(#000, 0.5);
    border: $border;
    color: #fff;

    .fr {
        float: right;
    }

    .console-input {
        display: block;
        padding: 1vw;
        width: 100%;
        height: 300px;
        color: #fff;
        background: transparent;
        border: 0;
        border-top: $border;
        outline: 0;
        resize: none;

        &::placeholder{
            color: #fff;
        }
    }

    .console-output {

        .input-log, .output-log {
            position: relative;
            padding-left: 30px;
            line-height: 2;

            &:before {
                content: '';
                position: absolute;
                top: 0.5em;
                width: 0.8em;
                height: 0.8em;
                border: $border;
                transform: rotate(45deg);
            }
        }

        .input-log:before {
            left: 0;
            border-color: $theme $theme transparent transparent;
        }

        .output-log {
            border-bottom: 1px solid rgba($theme, 0.5);
            &:before {
                left: 0.5em;
                border-color:  transparent transparent $theme $theme;
            }
        }
    }

    .opt-wrap {
        padding: 10px 0;
        button {
            padding: 0 10px;
            font-size: 1.2em;
            color: #fff;
            border: $border;
            border-radius: 6px;
            background: transparent;
            outline: 0;
        }
    }
}