$theme: #097125;
$border: 2px solid $theme;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wap-console-wrap {
    position: fixed;
    z-index: 9999;
    padding: 20px;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(#000, 0.5);
    border: $border;

    .console-input {
        display: block;
        padding: 10px;
        width: 100%;
        height: 300px;
        background: transparent;
        border: 0;
        border-top: $border;
        color: #fff;
        outline: 0;
        resize: none;

        &::placeholder{
            color: #fff;
        }
    }

    .console-output {
        border: $border;

        &:empty{
            border: 0;
        }
    }

    .opt-wrap {
        padding: 10px 0;
        button {
            padding: 0 10px;
            font-size: 1.5em;
            color: #fff;
            border: $border;
            border-radius: 6px;
            background: transparent;
        }
    }
}